# Ceci est le fichier de configuration personnel de Git.
[user]
# Veuillez adapter et décommenter les lignes suivantes :
	name = Ghislain MAHIEUX
	email = ghislain.mahieux@saagie.com
[core]
	pager = cat
[rebase]
	autosquash = true
