[user]
	name = Ghislain MAHIEUX
	email = ghislain.mahieux@saagie.com
[core]
	editor = vim
	pager = cat
[rebase]
	autosquash = true
[pull]
	rebase = true
[gui]
	recentrepo = /home/ghislain/dev/karnott/karnott-calculator
